* {
    font-family: 'Readex Pro', sans-serif;
}

.WelcomeNote {
    padding-left: 20%;
    padding-right: 20%;
    text-align: start;
}

.HorizontalLine {
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.container {
    padding-top: 10px;
}

.artist_name {
    padding-top: 5px;
}
